* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  // https://www.jianshu.com/p/04bf173826aa
  // [Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See <URL>
  touch-action: pan-y;
}
html,
body,
#root,
.App {
  height: 100%;
}
a {
  color: #333;
}
body {
  font-family: 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: #333;
  background-color: #fff;
}
